/* div {
  border: 1px solid red;
} */

body {
  margin: auto;
  background-image: url("./assets/images/PortfolioBG.jpg");
  background-size: cover;
  height: 100%;
}

.box {
  padding: 0px;
  background: rgb(0, 34, 46, 0.75);
  color: whitesmoke;
}

.navbar-expand-lg li {
  display: inline;
  list-style-type: none;
  margin: auto;
}

/* div.pull-right*/
 p { 
  padding: 20px;
  text-align: left;
  overflow: wrap;
  margin: auto;
}

#topJumbotron {
  /* background-image: url("./assets/images/banner.jpg"); */
  /* margin-bottom: 100px; */
  /* height: 100%; */
  /* opacity: 0.6; */
}

.jumbotron {
  background: rgba(220, 220, 220, 0.15);
  /* border: 1px solid rgb(138, 233, 236); */
}

#myName {
  text-align: center;
  font-size: 10vw;
  color:rgb(121, 84, 88);
  /* font-feature-settings: "akhn"; */
  font-size: 30px;
}

#sellBar {
  text-align: center;
  font-size: 10vw;
  background-color: rgb(208, 60, 72);
  /* background-color: #36454f; */
  color: rgb(138, 233, 236);
  opacity: 0.7;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: auto;
}

#profilePic {
  padding: 10px;
  height: 275px;
  float: left;
  
  
}


#externalLinks {
  /* padding: 25px; */
  width: 100%;
  /* margin: auto; */
}

#externalLinks ul {
  /* margin: 100; */
  /* padding: 40; */
  margin-top: 5px;
  margin-bottom: 5px;
}

#externalLinks ul li {
  list-style-type: none;
  display: inline;
  /* margin-right: 10px; */
}

#createCards {
  display: inline-flex;
}

.card-deck {
  color: rgb(144, 92, 77);
  opacity: 0.9;
  padding: 35px;
  /* border: solid 1px red; */
}

/* img {
  background-size: 100%;
} */

#resumeIcon {
  width: 18%;
  float: left;
}

#resumeBtn {
  background-color: transparent;
  border: 0;
  width: 200px;
  padding: 15px;
  margin: auto;
  color: orange;
}

#resume {
  text-align: center;
  color: red;
  font-size: 20px;
  margin-top: 25px;
  height: 625px;
  margin-left: initial;
}

#modalText {
  border: 1px solid black;
  margin: auto;
}

#resumeModal {
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  width: 500px;
}

#close {
  /* text-align: center; */
  margin: auto;
  width: 15%;
  color: rgb(243, 186, 81);
}

table {
  color: rgb(233, 134, 41);
  /* color: rgb(144, 92, 77); */
  /* color:rgb(66, 6, 6); */
  /* text-align: center; */
}

.form-group {
  height: 65px;
  /* color: rgb(208, 60, 72); */
  color: rgb(233, 134, 41);
}

.add-name {
  opacity: 0.9;
}

#submit-btn {
  color: rgb(184, 16, 16);
}

/*Modal Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*Menu Bar*/

.menuBar {
  background-color: #36454f;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: rgb(37, 165, 165);
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 24px;
  color: rgb(37, 165, 165);
  font-family: Verdana, Geneva, sans-serif;
}

a {
  color: rgb(37, 165, 165);
}

a:visited {
  color: rgb(36, 76, 109);
}

*/ [class*="col-"] {
  width: 100%;
}

/* @media screen and (max-width: 991px) {
  #profilePic {
    padding: initial;
  }
} */

@media screen and (max-width: 980px) {
  /* #profilePic {
    padding: initial;
  } */
  /* #topJumbotron {
        background-image: url("./assets/images/listBackground.jpg");
        height: 100%;
    } */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    /* #profilePic {
      padding: initial;
    } */
    /* #topJumbotron {
            background-image: url("./assets/images/Mountains.jpg");
            width: 100%;
        } */
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  }
  @media screen and (max-width: 640px)  {
    /* #profilePic {
      padding: initial;
    } */
    /* #topJumbotron {
      background-image: url("./assets/images/banner.jpg");
      width: 100%;
    } */
    .col-xs-1 {
      width: 8.33%;
    }
    .col-xs-2 {
      width: 16.66%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-4 {
      width: 33.33%;
    }
    .col-xs-5 {
      width: 41.66%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-7 {
      width: 58.33%;
    }
    .col-xs-8 {
      width: 66.66%;
    }
    .col-xs-9 {
      width: 75%;
    }
    .col-xs-10 {
      width: 83.33%;
    }
    .col-xs-11 {
      width: 91.66%;
    }
    .col-xs-12 {
      width: 100%;
    }
  }
  */ #menuBar {
    width: 100%;
  }
  #portfolio {
    width: 100%;
  }

   @media screen and (max-width: 640px)  {
    /* #profilePic {
      padding: initial;
    } */
    /* #topJumbotron {
      background-image: url("./assets/images/banner.jpg");
      width: 100%;
    } */
    .col-xs-1 {
      width: 8.33%;
    }
    .col-xs-2 {
      width: 16.66%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-4 {
      width: 33.33%;
    }
    .col-xs-5 {
      width: 41.66%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-7 {
      width: 58.33%;
    }
    .col-xs-8 {
      width: 66.66%;
    }
    .col-xs-9 {
      width: 75%;
    }
    .col-xs-10 {
      width: 83.33%;
    }
    .col-xs-11 {
      width: 91.66%;
    }
    .col-xs-12 {
      width: 100%;
    }
  }
  */ #menuBar {
    width: 100%;
  }
  #portfolio {
    width: 100%;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
  padding: 8px;
}
